$green: #AEEE00;
$light-green: #BAFF6B;
$lighter-green: #F1FFE1;
$dark-green: #6F7F5C;
$dark-green-inverse: #5D7F35;
$darker-green: #6F7F5C;
$blue: #01B0F0;
$pink: #FF358B;
$gray: #333333;
$black: #000000;
