@import 'colors';

$darker-blue: #171070;
$close_radius: 20px;
$close_color: white;

.tasksList {
  padding: 10px;
  .liTask {
    list-style-type: none;
    clear: both;
    padding-top: 30px;
    .taskDescription {
      font-size: 18px;
      color: $color-secondary-1-0;
    }
    .techList {
      list-style-type: none;
      margin: 10px 0px 0px 40px;
      overflow: hidden;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      border: 1px solid #bbbbbb;
      background-color: white;
      .imageWrapper {
        height: 100px;
        width: 100px;
        border: none;
        line-height: 100px;
        float: left;
        overflow: hidden;
        img {
          max-width: 100%;
          vertical-align: middle;
        }
      }
    }
  }
}

/************************** Phones *****************************/
@media (max-width: 321px) {
  html {

    .round-button-circle {
        z-index: 1;
    }

    /** No Shadow-DOM **/
    jea-dialog {
      margin: 0px;
      max-width: 100vw;
      max-height: 100vh;
      width: 100vw;
      height: 100vh;
      // fix for iPhone
      top: 0px;
    }

    /** END No Shadow-DOM **/

    /deep/ jea-dialog {
      margin: 0px;
      max-width: 100vw;
      max-height: 100vh;
      width: 100vw;
      height: 100vh;
      /* TODO
      paper-header-panel {
        width: 100%;
      }
      */
      &::shadow #scroller {
        padding: 0px;
        width: 100vw;
        height: 100vh;
      }
    }
  }
}

@mixin iphone-scroll-layer {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
// Only iphone 4 (portrait)
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:portrait)
{
  html {

    input#searchInput {
      font-size: 0.9em;
    }

    jea-dialog {
      max-height: 100%;
      max-width: 100%;
      width: 100%;
      height: 100%;
      #main-container {
        @include iphone-scroll-layer;
      }
    }
  }
}

// Only iphone 4 (landscape)
@media only screen and (min-device-width: 320px)  and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:landscape)
{
  html {

    input#searchInput {
      font-size: 0.9em;
    }

    jea-dialog {
      height: 320px;
      #main-container {
        @include iphone-scroll-layer;
      }
    }
  }
}

/************************* Wide tablet to Desktop (Bootstrap) ***************/
$dialog-height-991: 95vh;
$dialog-width-991: 95vw;
@media (min-width: 322px) and (max-width: 991px) {
  jea-dialog {
    width:$dialog-width-991;
    height:$dialog_height-991;
    max-height: $dialog-height-991;
    max-width: $dialog-width-991;
  }
  /** Mozilla-only CSS **/
  @-moz-document url-prefix() {
    jea-dialog {
      top: (100 - $dialog-height-991)/2;
      left: (100 - $dialog-width-991)/2;
    }
  }

  /deep/ jea-dialog {
    &::shadow #scroller {
      padding: 0px;
      width: $dialog-width-991;
      height: $dialog-height-991;
    }
  }

  #scroller {
    width: $dialog-width-991;
    height: $dialog-height-991;
    padding: none;
  }
}

@mixin dialog-header {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  background-color: $color-secondary-1-2;
  color: $color-secondary-1-4;
  transition: height 0.2s;
  iron-icon.icon-button {
    margin-bottom: 9px;
    color: $color-secondary-1-4;
    cursor: pointer;
  }
}

@mixin panel-body {
  padding-left: 0px;
  experience-details .tasksList {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    .liTask {
      list-style-type: none;
      clear: both;
      padding-top: 0px;
      margin-bottom: 20px;
      .taskDescription {
        font-size: 18px;
        color: #8e8d8d;
        > div {
          margin-bottom: 5px;
        }
      }
      .techList {
        margin-left: 10px;
        margin-bottom: 25px;
        overflow: hidden;
        border-radius: 30px;
        border: 1px solid #bbb;
        background-color: #fff;
        li {
          list-style-type: none;
          .imageWrapper {
            height: 100px;
            width: 100px;
            border: none;
            line-height: 100px;
            float: left;
            img {
              max-width: 100%;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {

  html {

    /** NO shadow-DOM suport **/
    jea-dialog {
      background-color: $color-secondary-1-2;
      position: fixed;

      paper-header-panel {
        .paper-header {
          @include dialog-header;
        }
      }

      @include panel-body;
    }
    /** End NO shadow-DOM support **/

    /deep/ jea-dialog {
      paper-header-panel {
        .paper-header {
          @include dialog-header;
        }
        .content {
          background-color: $color-secondary-1-2;
          overflow: auto;
        }
      }
      .round-button-circle {
        width: $close_radius * 2;
        height: $close_radius * 2;
        margin: auto;
        border-radius: 50%;
        position: fixed;
        top: -20px;
        right: -13px;
        background-color: $color-secondary-1-0;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
        a {
          display: block;
          width: 100%;
          height: 100%;
          cursor: pointer;
          color: black;
        }
      }
      @include panel-body
    }
  }
}
