.liTask {
  list-style-type: none;
  clear: both;
  padding-top: 20px;

  .taskDescription {
    font-size: 18px;
  }

  .techList {
    list-style-type: none;
    margin-top: 10px;

    .imageWrapper {
      height: 100px;
      width: 100px;
      border: none;
      line-height: 100px;
      float: left;
      overflow: hidden;

      img {
        max-width: 100%;
        vertical-align: middle;
      }
    }
  }
}
