.liTask {
  clear: both;
  padding-top: 20px;
}

.techList {
  list-style-type: none;

  .imageWrapper {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    line-height: 100px;
    float: left;
    overflow: hidden;

    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }
}
