$color-wine: #540c0c;
$color-white: #fff;
$color-black: #000;

$color-background: $color-wine;
$color-title: $color-white;

.social {

  background: linear-gradient(175deg, $color-white 11vw, $color-wine 11vw);
  border-top: 61px solid $color-white;
  height: 80vh;
  padding-top: 30%;
  position: absolute;
  width: 100%;

  .title {
    background-color: $color-black;
    border-bottom: 0 solid $color-white;
    color: $color-background;
    font-size: 22vmin;
    height: 23vmin;
    left: -22px;
    margin-left: -5px;
    margin-top: -20px;
    padding-left: 20px;
    position: absolute;
    text-align: left;
    top: 0;
    transform: rotate(-8deg);
    width: 150%;
  }

  p {
    color: $color-title;
    max-width: 500px;
    width: 90%;
  }
}

@media (max-width: 767px) {
  .social {
    height: 90vh;
    padding-top: 35vh;
  }
}
