@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */

html {
  margin: 20px;
}

body {
  margin: 20px;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.row-fluid [class*="span"] {
  min-height: 0px;
}

.container-fluid {
  padding-top: 20px;
}

.navbar-inverse .nav .active > a {
  color: white;
  background-color: #111111;
  &:hover, &:focus {
    color: white;
    background-color: #111111;
  }
}

.navitem-wrapper {
  max-height: 40px;
  overflow: visible;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar img {
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
}

.navbar-inverse {
  .nav > li.active > a, .dropdown-menu a {
    color: white;
  }
}

.navbar .brand {
  color: white;
}

.main-left {
  height: 65px;  
}

button.search {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

$sizes: 22px;
.searchButtonContainer {
    border: 1px solid black;
    margin-top: 24px;
    height: $sizes;
    padding-left: $sizes;
    padding-right: $sizes;
    background-color: white;
    input{
        border: none;
        width: 100%;
    }
    input:focus {
        //width: 80%;
        outline: none;
    }
     * {
      float: left;
      height: 20px;
    }
    span {
      position: relative;
      width: $sizes - 4;
      margin-left: -$sizes + 4;
    } 
    button {
      position: relative;
      width: $sizes;
      margin-right: -$sizes;
    }
}

.main {
  border-left: 1px solid #3a87ad;
  padding-left: 1.5em;
  margin-top: 10px;
}

.mainColumn {
  margin-left: 10px!important;
}

.period {
  margin-top: 10px;
}

.periodColumn {
  width: 8em!important;
  line-height: 40px;
  margin-top: 10px;
}

.asideExperience {
  min-width: 165px;
}

.employerLogo {
  max-width: 120px;
}

.employerName {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: -moz-linear-gradient(left, #3a87ad, transparent);
    background: -webkit-linear-gradient(left, #3a87ad, transparent);
  }
}

.sectionTitleWrapper {
  margin-right: 20px;
}

/************************** Phones *****************************/
@media (max-width: 321px) {
  .nav-collapse320 {
    &.collapse {
      overflow: hidden;
      height: 0;
    }
    .nav {
      float: none;
      margin: 0 0 10px;
      > li {
        float: none;
        > a {
          padding: 9px 15px;
          font-weight: bold;
          color: #777777;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
      }
    }
    clear: both;
  }
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .navbar-inverse .nav-collapse320 {
    .nav > li > a, .dropdown-menu a {
      color: #999999;
    }
  }
  .navbar .nav {
    margin: 0px;
  }

  .searchButtonContainer {
    > input, button {
      display: none;
    }
    > span {
      position: relative;
      width: auto;
      margin: none;
      font-size: 2em;
      text-align: center;
    }
    height: 40px;
    padding-left: none;
  }
}

/******************* Phone and Wide Phone *******************/
@media (max-width: 480px) {
  .nav-collapse480 {
    &.collapse {
      overflow: visible !important;
      height: auto !important;
    }
    .nav {
      float: none;
      margin: 0 0 10px;
      > li {
        float: none;
        > a {
          padding: 9px 15px;
          font-weight: bold;
          color: #777777;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
      }
    }
    clear: both;
  }
  
  .navbar-brand {
    margin-left: 15px;
  }

  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .navbar-inverse .nav-collapse480 {
    .nav > li > a, .dropdown-menu a {
      color: #999999;
    }
  }
  .secondLastName {
    display: none;
  }

  body {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .main-left div {
    min-width: 33px;
  }

  aside {
    margin-left: 0;
    padding-left: 0!important;
  }
  body {
    margin-left: 0;
    padding-left: 0;
  }
  .container {
    padding: 0;
  }
  .pull-right {
    margin-right: 15px;
  }

  .searchButtonContainer {
    > input, button {
      display: none;
    }
    > span {
      position: relative;
      width: auto;
      margin: none;
      font-size: 2em;
      text-align: center;
    }
    height: 40px;
    padding-left: none;
    max-width: 10px;
    float: right;
    margin-right: 10px;
  }

}

/************************** Phone to tablet *********************/
@media (max-width: 767px) {
  .main {
    border-left: none;
    padding-left: 0;
    margin-top: 0;
  }
  .xs-sm-hidden {
    display: none;
  }

  .main-left {
    height: 70px;  
  }

  .sectionTitleWrapper {
    > h5 {
        display: block!important;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    > h2 {
        margin-bottom: 0px;
    }
    width: auto!important;
    height: auto!important;
  }
}

/********************** Phone to Tablet *******************/
@media (max-width: 850px) {
  .nav-collapse830 {
    &.collapse {
      overflow: hidden;
      height: 0;
    }
    .nav {
      float: none;
      margin: 0 0 10px;
      > li {
        float: none;
        > a {
          padding: 9px 15px;
          font-weight: bold;
          color: #777777;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
      }
    }
    clear: both;
  }
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .navbar-inverse .nav-collapse830 {
    .nav > li > a, .dropdown-menu a {
      color: #999999;
    }
  }
}


/************************** Phone to wide tablet ************************/
@media (max-width: 991px) {
  .sectionTitleWrapper > {
    h2, h5 {
      display: inline-block;
    }
  }
  #searchWrapper {
    > .searchbuttonContainer {
      margin-top: 30px;
      width: 80%;
    }
    overflow: hidden;
  }
  .main-left:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: -moz-linear-gradient(left, #3a87ad, transparent);
    background: -webkit-linear-gradient(left, #3a87ad, transparent);
  }
  .main {
    border-left: none;
  }
  .sectionTitleWrapper {
    float: left;
  }

  .periodColumn {
    padding-left: 0px;
  }

  .mainColumn {
    padding: 0px;
  }
  
  .employerWrapper {
    > div {
        padding: 0px;
    }
    .employerNameWrapper {
        padding-right: 10px;
    }
    padding: 0px;
  }

  .employerWrapper {
    display: inline-block !important;
    width: 100%;
    float: left !important;
  }
  .employerNameWrapper {
    display: block !important;
    float: left !important;
    width: 80%;
  }
  .employerLogoWrapper {
    float: left !important;
    padding-left: 10px;
    display: block !important;
    width: 20%;
    text-align: right;
  }
  .employerLogo {
    max-width: 90px !important;
  }
}

/************************** Wide phone to desktop *************/
@media (min-width: 480px) {
  .nav-collapse480.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}


/************************** Tablet to Desktop *********************/
@media (min-width: 321px) {
  .nav-collapse320.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

/************************** Tablets *********************/
@media (min-width: 481px) and (max-width: 767px) {
}
/************************** Wide tablets *********************/
@media (max-width: 979px) and (min-width: 768px) {
  .row-fluid [class*="span"] {
    min-height: 0px;
  }
}

/************************** Wide tablet to Desktop *********************/

@media (min-width: 768px) {
  #left > {
    h2, h5 {
      display: inline;
    }
  }
  .md-lg-hidden {
    display: none;
  }
}

/************************** Wide tablet to Desktop *************/
@media (min-width: 852px) {
  .nav-collapse830.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

/************************* Wide table to Desktop ***************/
@media (min-width: 852px) {
  .navbar .btn-navbar {
    display: none;
  }
}

/************************** Large dektop **************/
@media (min-width: 1200px) {}