/* bootstrap-sass redefined variable */
$icon-font-path: "fonts/";
//$grid-float-breakpoint: 801px;

$light-color: #c1dbf2;
$very-light-color: #ddebf9;
$light-grey: #dddddd;
$dark-blue: #428bca;
$darker-blue: #171070;

$stuck_shadow: 0 2px 5px rgba(0,0,0,0.26);

@import 'bootstrap-sass/lib/bootstrap';
@import 'search-button';
@import 'experience-details';

/* Put your CSS here */

.primary {
  background-color: $dark-blue;
  color: #ffffff;
}

.primary-inverse {
  color: $dark-blue;
}

.default {
  background-color: #999999;
  color: #ffffff;
}

.default-inverse {
  color: #999999;
}

$main-margin: 0px;

html {
  margin: $main-margin;
  height: 100vh;
}

body {
  height: 100vh;
  margin: $main-margin;
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hideScroll {
  overflow: hidden;
}

.main-view {
  min-height: 92vh;
}

#cover {
  font-size: 1.5em;
}

#salutation {
  font-size: 4.5em;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.row-fluid [class*="span"] {
  min-height: 0px;
}

.container-fluid {
  padding-top: 20px;
}

$top-menu-margin: 50px;
section.menu-section {
  margin-top: $top-menu-margin;
}

.navbar-inverse {
  background-color: $darker-blue;
  border-color: $darker-blue;

  .nav .active > a {
    color: white;
    background-color: $dark-blue;
    &:hover, &:focus {
      color: white;
      background-color: $dark-blue;
    }
  }
}


.navitem-wrapper {
  max-height: 40px;
  overflow: visible;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar img {
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
}

.navbar-inverse {
  .nav > li.active > a, .dropdown-menu a {
    color: white;
  }
}

.navbar {
  -webkit-transform: translate3d(0,0,0);
  .brand {
    color: white;
  }
  &.navbar-fixed-top {
    -webkit-box-shadow: $stuck_shadow;
    -moz-box-shadow: $stuck_shadow;
    box-shadow: $stuck_shadow;
  }

  ul#ul-lang {
    height: 100%;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

#blog {
  height: 92vh;

  iframe {
    height: 92vh;
    background-color: white;
    border: none;
  }
}

button.search {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.main {
  height: 100%;
  border-left: 1px solid #3a87ad;
  padding-left: 1.5em;
  padding-top: 10px;
  background-color: #fafafa;
}

.mainColumn {
  margin-left: 10px!important;
  margin-right: 10px!important;
}

.centered {
  margin: 0 auto;
}


.socialIcons {
  overflow: hidden;
  width: 100%;
  > div {
    margin-top: 30px;
    overflow: hidden;
    max-width: 300px;
    div {
      float: left;
      margin: 2px 0;
      width: 33.3%;
      min-height: 50px;
      max-width: 100px;
      padding: 10px;
      img {
       width: auto;
       min-width: 10px;
       max-width: 100%;
      }
    }
  }
}

.notFoundMsg {
  margin-top: 5vh;
  font-size: 3em;
  margin-left: 20px;

   a {
     cursor: pointer;
   }
}

.period {
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  height: 46px;
  padding: 0px;
  border: solid 1px $dark-blue;
}

.period-mini {
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  padding: 0px;
  border: solid 1px #999999;
  width: 20em;
   .periodCount {
    display:inline;
  }
}

.periodInterval {
  padding: 0px;
}

.periodInterval-mini {
  width: 130px;
  float: left;
}

.periodCount {
  padding-left: 1px;
  padding-right: 1px;
  font-weight: bold;
  font-size: 0.9em;
}

.periodColumn {
  width: 10.2em!important;
  line-height: 22px;
  margin-top: 10px;
}

.menu-section {
    background-color: $dark-blue;
    overflow: hidden;
}

.main-left {
  position: fixed;
}

.title {
  font-family: Pacifico;
  text-shadow: 4px 4px 2px rgba(78, 80, 62, 1);
}


.asideExperience {
  min-width: 165px;
}

.sectionTitleWrapper {
  margin-right: 20px;
  color: #ffffff;
}

$myPortrait_width: 10em;
.circle {
  border-radius: 50%;
  width: $myPortrait_width;
  height: $myPortrait_width;
  display: inline;
  position: relative;
  float: left;
  margin-right: 20px;
  margin-top: 4px;
  border: 4px solid white;
  -webkit-box-shadow: 0px 0px 15px rgba(3, 3, 3, 0.3);
  -moz-box-shadow: 0px 0px 15px rgba(3, 3, 3, 0.3);
  box-shadow: 0px 0px 15px rgba(3, 3, 3, 0.3);
  overflow: hidden;

  img {
    width: $myPortrait_width;
    height: $myPortrait_width;
  }
}

.employerLine {
  height: 67px;
  padding-left: 0px;
}

.employerNameWrapper {
  padding-left: 0px;
  padding-right: 0px;
}

.employerName {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: -moz-linear-gradient(left, #3a87ad, transparent);
    background: -webkit-linear-gradient(left, #3a87ad, transparent);
  }
}

.employerLogoWrapper {
  z-index: 1;
}

.employerLogo {
  max-width: 120px;
}

$panel-main-color: $light-color;
$panel-inside-color: $very-light-color;
$circle_radius: 25px;
.employment {
  clear: left;
  background-color: $panel-inside-color;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.2);
  margin-bottom: 30px;

  .panel-heading {
    padding-bottom: $circle_radius !important;
    background-color: $light-color;
    &.is_stuck {
      -webkit-box-shadow: $stuck_shadow;
      -moz-box-shadow: $stuck_shadow;
      box-shadow: $stuck_shadow;
    }
  }

  .panel-collapse {
    background-color: $panel-inside-color;
    .panel-body {
      margin-bottom-color: $panel-inside-color;
      padding-top: 0px;
    }
  }
  .panel-footer {
    background-color: $panel-main-color;
    height: 10px;
    cursor: default!important;
  }
}

.round-button-circle {
  width: $circle_radius * 2;
  height: $circle_radius * 2;
  margin:auto;
  background: $light-color;
  border-radius: 50%;
  position: relative;
  top: -$circle_radius;
  background-color: $panel-inside-color;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);

  a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .glyphicon {
    top: $circle_radius/2;
    font-size: $circle_radius * 0.8;
  }
}

.positionTitle {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.panel-footer-arrow {
  padding: 0px 0px;
  text-align: center;
  > a {
    width: 100%;
    display: block;
  }
}

.panel-footer-arrow:hover {
  cursor: pointer;
}

.my-accordion > a {
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg)!important; /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  -moz-transition: -moz-transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  -o-transition: -o-transform 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease;
  transition: transform 0.5s ease;
  >span {
    @extend .glyphicon;
    @extend .glyphicon-chevron-up;
  }
}

.my-accordion > a.collapsed {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg)!important; /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  >span {
    @extend .glyphicon;
    //@extend .glyphicon-chevron-down;
  }
}

/************************** Retina display tablet ***************/

/************************** Phones (Iphone 4/5) *****************************/
@media (max-width: 321px) {
  .nav-collapse320 {
    &.collapse {
      overflow: hidden;
      height: 0;
    }
    .nav {
      float: none;
      margin: 0 0 10px;
      > li {
        float: none;
        > a {
          padding: 9px 15px;
          font-weight: bold;
          color: #777777;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
      }
    }
    clear: both;
  }
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .navbar-inverse .nav-collapse320 {
    .nav > li > a, .dropdown-menu a {
      color: #999999;
    }
  }
  .navbar .nav {
    margin: 0px;
  }

  aside {
    padding-left: 5px!important;
    padding-right: 5px!important;
    .main-left {
      margin-right: 0px!important;
      .sectionTitleWrapper {
        margin-right: 10px;
      }
      #searchWrapper {
        .searchButtonContainer {
          margin-right: 1px!important;
        }
      }
    }
  }

}
/************************** Phone to Desktop *********************/
@media (min-width: 321px) {
  .container > .navbar-header, .container > .navbar-collapse {
    margin-right: 15px;
    margin-left: 15px;
  }

  .nav-collapse320.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

/******************* Phone *******************/
@media (max-width: 480px) {

  .container > .navbar-header, .container > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
  }

  .nav-collapse480 {
    &.collapse {
      overflow: visible !important;
      height: auto !important;
    }
    .nav {
      float: none;
      margin: 0 0 10px;
      > li {
        float: none;
        > a {
          padding: 9px 15px;
          font-weight: bold;
          color: #777777;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
      }
    }
    clear: both;
  }

  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .navbar-inverse .nav-collapse480 {
    .nav > li > a, .dropdown-menu a {
      color: #999999;
    }
  }
  .secondLastName {
    display: none;
  }

  body {
    padding-left: 0;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0;
  }

  .main-left div {
    min-width: 33px;
  }

  aside {
    padding-left: 10px;
  }
  .container {
    padding: 0;
  }
  .pull-right {
    margin-right: 15px;
  }

  .employerNameWrapper {
    width: 70%;
  }
}

/************************** Phone to desktop *************/
@media (min-width: 480px) {
  .nav-collapse480.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

/*********** Phone to Landscape phone and small tablets (Nexus 7) *************/
@media (max-width: 767px) {

  .main {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-left:5px;
  }
  .xs-sm-hidden {
    display: none;
  }

  aside {
    padding-bottom: 10px;
  }

  .sectionTitleWrapper {
    > .subtitle {
        display: block!important;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    > .title {
        margin-bottom: 0px;
    }
    width: auto!important;
    height: auto!important;
  }
}

/********************** Phone to Tablet *******************/
@media (max-width: 850px) {
  .nav-collapse830 {
    &.collapse {
      overflow: hidden;
      height: 0;
    }
    .nav {
      float: none;
      margin: 0 0 10px;
      > li {
        float: none;
        > a {
          padding: 9px 15px;
          font-weight: bold;
          color: #777777;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
      }
    }
    clear: both;
  }
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .navbar-inverse .nav-collapse830 {
    .nav > li > a, .dropdown-menu a {
      color: #999999;
    }
  }
}

/************************** Tablets *********************/
@media (max-width: 979px) and (min-width: 768px) {
  .row-fluid [class*="span"] {
    min-height: 0px;
  }
}

/************************** Tablet to Desktop *********************/

@media (min-width: 768px) {
  #left > {
    h2, h5 {
      display: inline;
    }
  }
  .md-lg-hidden {
    display: none;
  }
  .main-left {
    width: inherit;
  }
  .periodColumn {
    padding: 0px;
  }
}


/************************** Landscape tablet to Desktop *************/
@media (min-width: 852px) {
  .nav-collapse830.collapse {
    height: auto !important;
    overflow: visible !important;
  }
  .title {
    font-size: 45px;
  }
}

/************************** Phone to Big tablet ************************/
@media (max-width: 991px) {

.desktop {
  display: none;
}

html {
  margin-left: 0px;
  margin-right: 0px;

  body {
    margin-left: 0px;
    margin-right: 0px;

    core-overlay-layer {
      z-index: 1100;
    }

    .container {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;

      aside {
        width: 100%;
        padding-left: 20px;
        position: relative;
        background-color: $dark-blue;
        z-index: 2;

        .main-left {
          margin-right: 20px;
          overflow: hidden;
          position: relative;

          .title {
            font-size: 30px;
            margin-top: 4px;
            padding-bottom: 4px;
            padding-right: 4px;
          }
          .searchButtonContainer {
            margin-top: 14px;
          }
        }
      }

      .employment {
        core-icon {
          top: 12px;
        }
      }
    }
  }
}

  .sectionTitleWrapper > {
    .title, .subtitle {
      display: inline-block;
    }
  }

  .main {
    padding-left: 10px;
    padding-right: 15px;
    border-left: none;
  }
  .sectionTitleWrapper {
    float: left;
  }

  .periodColumn {
    line-height: 20px;
    padding-left: 0px;
    width: 20em !important;
  }

  .period {
    > div {
      padding: 0px;
    }
    height: 21px;
  }

  .period-mini {
    width: 18em!important;
  }

  .periodInterval {
    width: 130px;
    float: left;
  }

  .periodCount {
    display: inline;
  }

  .mainColumn {
    padding: 0px;
  }

  .employerWrapper {
    > div {
        padding: 0px;
    }
    .employerNameWrapper {
        padding-right: 10px;
    }
    padding: 0px;
  }

  .employerWrapper {
    display: inline-block !important;
    width: 100%;
    float: left !important;
  }
  .employerNameWrapper {
    display: block !important;
    float: left !important;
    width: 80%;
  }
  .employerLogoWrapper {
    float: left !important;
    padding-left: 10px;
    display: block !important;
    width: 20%;
    text-align: right;
  }
  .employerLogo {
    max-width: 90px !important;
  }
}

/************************* Big tablet to Desktop (Bootstrap) ***************/
@media (min-width: 992px) {
  .mobile {
    display: none;
  }
  .navbar .btn-navbar {
    display: none;
  }
  .full-height-column {
    min-height: 92vh;
  }
  .main-left {
    max-width: 970px * 0.25 - (15 * 2);
  }
  .subtitle {
    max-width: 250px;
  }

}

/************************** Large dektop (bootstrap) **************/
@media (min-width: 1200px) {
  .main-left {
    max-width: 1170px * 0.25 - (15 * 2);
  }
  .title {
    font-size: 50px;
  }
  .main-view {
    .menu-section {
      .main {
         .circle, .circle img {
          width: 15em;
          height: 15em;
        }
      }
    }
  }
}
