<section id="skrollr-body" class="row-fluid menu-section">
	<div class="main aboutme">
		<article class="cover">
			<div class="left-half">
				<div class="my-frame">
				</div>
				<div class="full-stack">
					full-stack
					<br/>
					web
					<br/>
					developer
				</div>
			</div>
			<div class="right-half">
				<div class="title back first">
					BACK-END
				</div>
				<div class="title back second">
					BACK-END
				</div>
				<div class="title front first">
					FRONT-END
				</div>
				<div class="title front second">
					FRONT-END
				</div>
			</div>
		</article>
		<div class="layer2">
			<article class="clients">
				<div class="title">CLIENTS</div>
				<div class="logo-flex">
					<div class="logo">
						<img src="../images/bankia_gray.png"></img>
					</div>
					<div class="logo">
						<img src="../images/veci_gray.png"></img>
					</div>
					<div class="logo">
						<img src="../images/metro_madrid_gray.png"></img>
					</div>
					<div class="logo">
						<img src="../images/seres_gray.png"></img>
					</div>
					<div class="logo">
						<img src="../images/liberty_gray.png"></img>
					</div>
					<div class="logo">
						<img src="../images/sanitas_gray.png"></img>
					</div>
					<div class="logo">
						<img src="../images/mapfre_gray.png"></img>
					</div>
				</div>
				<div class="bottom">
				</div>
			</article>

<!--
			<article class="experience">
				<div class="background server">

				</div>
				<div class="background colors">

				</div>
				<p>
					<span class="vertical-middle">{{'THE' | translate}}
						<a ng-click="clickMenu('EXPERIENCE');" class="lower-case link-menu">
							{{'EXPERIENCE'| translate}}</a>
						{{'ABOUT_ME_EXPERIENCE' | translate}}
					</span>
				</p>
			</article>

		</div>
-->
		<article id="projects" class="projects">
				<div class="flasks flex-container">
					<div class="flex-center">
						<img class="" src="images/flasks.png" alt="" />
					</div>
				</div>
			<figure id="node" class="sphere node"
					data-bottom-top="left: 4%; top: .5%;"
					data-center-bottom="left: 49%; top: 10%;"
					data-top-bottom="left: 46%; top: 50%;">
				<span class="shadow"></span>
			</figure>
			<figure id="polymer" class="sphere polymer"
					data-bottom-top="left: 90%; top: .5%;"
					data-center-bottom="left: 48%; top: 10%;"
					data-top-top="left: 48%; top: 50%;">
				<span class="shadow"></span>
			</figure>
			<figure id="react" class="sphere react"
					data-bottom-top="left: 25%; top: .5%;"
					data-center-top="left: 47%; top: 10%;"
					data-top-bottom="left:48%; top: 50%;">
				<span class="shadow"></span>
			</figure>
			<figure id="es6" class="sphere es6"
					data-bottom-top="left: 75%; top: .5%;"
					data-center-top="left: 48%; top: 10%;"
					data-top-top="left: 46%; top: 50%;">
				<span class="shadow"></span>
			</figure>
			<div class="cutting-edge">
				<div>cutting-</div>
				<div>edge</div>
				<div>technology</div>
			</div>
		</article>

		<article class="social">
			<div class="title">SOCIAL</div>
			<p>
				Read
				<a ng-click="clickMenu('BLOG');" class="lower-case link-menu">
				{{ 'MY_SING' | translate }} blog
				</a>
				and contact me
			</p>
			<div class="socialIcons">
				<div class="centered">
					<div class="floated">
						<a href="mailto:jesus.espejo.arnas@gmail.com" target="_blank">
							<img src="images/mail_logo.png" alt="">
						</a>
					</div>
					<div class="floated">
						<a href="http://twitter.com/JesusEspejoA" target="_blank">
							<img src="images/twitter_logo.png" alt="">
						</a>
					</div>
					<div class="floated">
						<a href="https://github.com/yesobo" target="_blank">
							<img src="images/github_logo.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
