<section id="experience" class="row-fluid">
  <aside class="span3 asideExperience">
    <h2>Experience</h2>
    <h5>Where I worked</h5>
    <input class="input-medium search-query" ng-model="query" placeholder="search in my experience">
  </aside>
  <div class="span9 main">
    <div class="row-fluid" ng-repeat="employer in employersDates | orderBy: '-start'">
      <div class="row-fluid" ng-show="(employments | filter:query | filter:employer.employerName).length">
          <article>
            <div class="span2 periodColumn">
              <div class="label label-info period">
                <span>
                  {{employer.start | myDate}} - 
                </span>
                <span>
                  {{employer.end | myDate}}
                </span>
              </div>
            </div> 
            <div class="span9 mainColumn">
              <header>
                <div style="row-fluid">
                  <div class="span12 employerWrapper">
                    <div class="span9 employerNameWrapper" style="">
                      <h3 class="employerName">{{employer.employerName}}</h3>
                    </div>
                    <div class="span3 employerLogoWrapper" style="">
                     <a target="_blank" href="{{employer.webSite}}"><img class="employerLogo" ng-src="{{employer.imageUrl}}"/></a>
                    </div>
                  </div>
                </div>
                <div class="employment" ng-repeat="employment in employments | filter: query | filter: employer.employerName | orderBy: '-start'">
                  <span class="label">
                      {{employment.start | myDate}} - {{employment.end | myDate}}
                    </span>
                    <h4 class="positionTitle">{{employment.position}} {{'AT' | translate}} <a target="_blank" href="{{employment.client.webSite}}">{{employment.client.name}}</a></h4>
                </div>
              </header>
              <p></p>
              <p></p>
            </div>
          </article>
        </div>
      </div>
  </div>
</section>
