<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/scale-down-animation.html">

<section id="experience" class="row-fluid menu-section">
  <aside class="col-lg-3 col-md-3 full-height-column subHeader">
    <main-left custom-query="query"
      custom-title="rawTitle | translate"
      custom-subtitle="rawSubtitle | translate">
    </main-left>
  </aside>
  <div class="col-lg-9 col-md-9 main full-height-column">
    <div class="row-fluid" ng-repeat="employer in employersDates | orderBy: '-start'">
      <div class="row-fluid" ng-show="(employments | filter:query | filter:employer.employerName).length">
        <article>
          <div class="col-lg-2 col-md-2 periodColumn">
            <div class="period col-lg-12 col-md-12 col-sm-12">
              <div class="periodInterval primary col-lg-12 col-md-12">
                <span>
                  {{employer.start | myDate}} -
                </span>
                <span>
                  {{employer.end | myDate}}
                </span>
              </div>
              <div class="periodCount primary-inverse col-lg-12 col-md-12">
                <span>{{ employersDateDiffMap[employer.employerName].years}}</span>
                <span>{{ employersDateDiffMap[employer.employerName].yearLabel | translate}}</span>
                <span>{{ employersDateDiffMap[employer.employerName].months}}</span>
                <span>{{ employersDateDiffMap[employer.employerName].monthLabel | translate}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 mainColumn">
            <div class="col-lg-12 col-md-12 col-sm-12 row-fluid employerLine">
              <div class="col-lg-12 col-md-12 col-sm-12 employerWrapper">
                <div class="col-lg-9 col-md-9 col-sm-7 employerNameWrapper" style="">
                  <h2 class="employerName">{{employer.employerName | translate}}</h2>
                </div>
                <div class="col-lg-3 col-md-3 col-sm 5 employerLogoWrapper" style="">
                  <a target="_blank" href="{{employer.webSite}}">
                    <img class="employerLogo" ng-src="images/{{employer.imageUrl}}"/></a>
                  </div>
                </div>
              </div>
              <div class="employment panel panel-default"
                  ng-repeat="employment in employments | filter: query | filter: employer.employerName | orderBy: '-start'">
                <div class="stickyZone">
                  <div class="panel-heading">
                    <div class="period-mini">
                      <div class="periodInterval-mini default">
                        <span>
                          {{employment.start | myDate}} -
                        </span>
                        <span>
                          {{employment.end | myDate}}
                        </span>
                      </div>
                      <div class="periodCount default-inverse">
                        <span>{{ employmentsDateDiffMap[employment.locator].years}}</span>
                        <span>{{ employmentsDateDiffMap[employment.locator].yearLabel | translate}}</span>
                        <span>{{ employmentsDateDiffMap[employment.locator].months}}</span>
                        <span>{{ employmentsDateDiffMap[employment.locator].monthLabel | translate}}</span>
                      </div>
                    </div>
                    <h3 class="positionTitle panel-title">
                      <span >{{ employment.locator + '.position' | translate }}</span>
                      <span ng-show="employment.client.name">
                        {{'AT' | translate}}
                        <a target="_blank" href="{{employment.client.webSite}}">{{employment.client.name}}</a>
                      </span>
                    </h3>
                  </div>

                  <iron-collapse polymer-directive jea-stick-collapse-header id="{{'positionDetails' + employment.locator}}"
                    class="panel-collapse desktop">
                    <ul class="panel-body">
                      <experience-details details-obj="employment"></experience-details>
                    </ul>
                  </iron-collapse>

                </div>

                <div class="panel-footer panel-footer-arrow">

                  <div class="round-button-circle">

                    <jea-collapse-button
                      panelid="{{'positionDetails' + employment.locator}}"
                      class="my-accordion accordion-toggle collapsed desktop">
                      <span class="glyphicon glyphicon-chevron-up"></span>
                    </jea-collapse-button>

                    <jea-collapse-button
                      ng-click="openDialog('positionDetails' + employment.locator)"
                      class="my-accordion accordion-toggle collapsed mobile">
                      <iron-icon icon="more-horiz"></iron-icon>
                    </jea-collapse-button>

                  </div>

                </div>
                <jea-dialog with-backdrop
                  polymer-directive
                  class="max-height: 95vh; max-width: 95vw"
                  dialog-id="{{'positionDetails' + employment.locator}}"
                  entry-animation="scale-up-animation"
                  exit-animation="scale-down-animation"
                  >

                    <paper-header-panel mode="waterfall">

                        <div class="paper-header">
                          <a onclick="$('jea-dialog:visible')[0].close();" class="jea-close">
                            <iron-icon icon="close" class="icon-button"></iron-icon>
                          </a>
                          <div ng-bind="employment.locator + '.position' | translate">
                          </div>
                        </div>
                        <div class="content">
                          <ul class="panel-body">
                            <experience-details details-obj="employment">
                            </experience-details>
                          </ul>
                        </div>
                    </paper-header-panel>


                </jea-dialog>
              </div>
              <p></p>
              <p></p>
            </div>
        </article>
      </div>
    </div>
    <div  class="row-fluid"
          ng-show="!(!(query) || (employments | filter:query | filter:employer.employerName).length)">
      <div class="notFoundMsg row">
        <span>{{'NO_RESULTS_FOUND'| translate}} {{myText| translate}}</span>
        <span>
          <a ng-click="clickMenu(notFoundRequestedMenu);">
            {{notFoundLinkText | translate}}
          </a>
        </span>
      </div>
    </div>
  </div>
</section>
