<section id="experience" class="row-fluid">
  <aside class="span3 asideExperience">
    <h2>Experience</h2>
    <h5>Where I worked</h5>
    <input class="input-medium search-query" ng-model="query" placeholder="search in my experience">
  </aside>
  <div class="span9 main">
    <div class="row-fluid" ng-repeat="employment in employments | filter:query | orderBy: '-start' | limitTo: 5">
      <article class="employment">
        <div class="span2 periodColumn" ng-switch on="employment.end == employersDates[employment.employer.name].end">
          <div ng-switch-when="true" class="label label-info period">
            <span>
              {{employersDates[employment.employer.name].start | myDate}} - 
            </span>
            <span>
              {{employersDates[employment.employer.name].end | myDate}}
            </span>
          </div>
        </div> 
        <div class="span9 mainColumn">
          <header>
            <div style="row-fluid" ng-switch on="employment.end == employersDates[employment.employer.name].end">
              <div class="span12 employerWrapper" ng-switch-when="true">
                <div class="span9 employerNameWrapper" style="">
                  <h3>{{employment.employer.name}}</h3>
                </div>
                <div class="span3 employerLogoWrapper" style="">
                 <img class="employerLogo" ng-src="{{employment.employer.imageUrl}}"/>
                </div>
              </div>
            </div>
            <span class="label">
              {{employment.start | myDate}} - {{employment.end | myDate}}
            </span>
            <h4>{{employment.position}} {{'AT' | translate}} {{employment.client.name}}</h4>
          </header>
          <p></p>
          <p></p>
        </div>
      </article>
    </div>
  </div>
</section>
